@model IWSWebApplication.Models.ContactViewModel
@{
    ViewData["Title"] = "Contact";
    Layout = "_Layout";
}

<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

@section Scripts
    {
    <script>
        var maxchar = 160;
        var i = document.getElementById("textinput");
        var c = document.getElementById("count");
        c.innerHTML = maxchar;

        i.addEventListener("keydown", count);

        function count(e) {
            var len = i.value.length;
            if (len >= maxchar) {
                e.preventDefault();
            } else {
                c.innerHTML = maxchar - len - 1;
            }
        }
        
        //windowwindow.onload = window.history.forward(0);
    </script>
}

<div>
    <div class="col-md-6">
        <div>
            @if (ViewBag.Message == null)
            { 
                <div>
                    <form method="post">
                        <br>
                        <div class="form-group">
                            <label asp-for="Name">Name</label>
                            <input asp-for="Name" placeholder="Enter Your Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-muted"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Email">Email</label>
                            <input asp-for="Email" placeholder="Enter Your Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-muted"></span>
                        </div>
                        
                        <div class="form-group">
                            <label asp-for="Subject">Subject</label>
                            <input asp-for="Subject" placeholder="Enter Your Query" class="form-control" />
                            <span asp-validation-for="Subject" class="text-muted"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Message">Message</label>
                            <textarea id="textinput" asp-for="Message" placeholder="Explain in short" class="form-control"> </textarea>
                            <span asp-validation-for="Message" ></span>
                            Remaining Characters: <span id="count"></span>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-success">Send </button>
                        </div>
                    </form>
                </div>
            }
        </div>

        <div>
            @if (ViewBag.Message != null)
            {
                <div>
                    <br>
                    @ViewBag.Message
                </div>
            }
        </div>
    </div>

</div>

