@model IWSWebApplication.Models.LoginViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout_Login";
}
@*<h2>@ViewData["Title"]</h2>*@
<h3>@ViewData["Message"]</h3>

@section Scripts { 
    <script type="text/javascript" src="~/js/site.js"></script>
    <link rel="stylesheet" href="~/css/login.css">
}

<html lang="en">
@*<head>
</head>*@

<body>
    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="loginModal" role="dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <!-- Modal Close Button -->
                <div>
                    <button type="button" class="close" float="right" data-dismiss="modal">&times;</button>
                </div>
                <!-- Login Image -->
                <div class="imgcontainer profile">
                    <img src="/images/Login.JPG" alt="Login Image" class="profile">
                    <div class="middle">
                        <div class="text">ADMIN</div>
                    </div>
                </div>
        
                <!-- SignIn Form -->
                <!-- id="checkLogin()" -->
                <form method="post" style="padding: 15px">
                    @*<form method="post" asp-controller="Home" asp-action="Mainpage" style="padding: 15px">*@
                    <div class="form-group">
                        <label asp-for="LoginEmail">Email</label>
                        <input asp-for="LoginEmail" placeholder="Enter Your User Name" class="form-control" name="LoginEmail" required />
                        <span asp-validation-for="LoginEmail" class="text-muted"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LoginPassword">Password</label>
                        <input asp-for="LoginPassword" placeholder="Enter Your Password" class="form-control" name="LoginPassword" required />
                        <span asp-validation-for="LoginPassword" class="text-muted"></span>
                    </div>

                    <input type="checkbox" checked="checked"> Remember me
                    <br><br>
                    @*<button type="submit" id="submitformlogin" asp-controller="Home" asp-action="Mainpage">Login</button>*@
                    <button type="submit" id="submitformlogin">Login</button>

                    <div class="container" style="background-color:#f1f1f1; width: 100%">
                        <button type="button" class="cancelbtn" onclick="this.form.reset()">Cancel</button>
                        <span class="psw">Forgot <a href="#">password?</a></span>
                    </div>
                </form>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="signupModal" role="dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div>
                    <button type="button" class="close" float="right" data-dismiss="modal">&times;</button>
                </div>
                <div class="imgcontainer profile">
                    <img src="/images/Login.JPG" alt="Login Image" class="profile">
                    <div class="middle">
                        <div class="text">ADMIN</div>
                    </div>
                </div>
                <form method="post" style="padding: 15px">
                    <div class="form-group">
                        <label asp-for="RegisterFirstName">First Name</label>
                        <input asp-for="RegisterFirstName" placeholder="Enter First Name" class="form-control" name="RegisterFirstName" required />
                        <span asp-validation-for="RegisterFirstName" class="text-muted"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RegisterLastName">Last Name</label>
                        <input asp-for="RegisterLastName" placeholder="Enter Last Name" class="form-control" name="RegisterLastName" required />
                        <span asp-validation-for="RegisterLastName" class="text-muted"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RegisterEmail">Email</label>
                        <input asp-for="RegisterEmail" placeholder="Enter Your User Name" class="form-control" name="RegisterEmail" required />
                        <span asp-validation-for="RegisterEmail" class="text-muted"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RegisterPassword">Password</label>
                        <input asp-for="RegisterPassword" placeholder="Enter Your Password" class="form-control" name="RegisterPassword" id="pass1" required />
                        <span asp-validation-for="RegisterPassword" class="text-muted"></span>
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input placeholder="Re Enter Your Password" class="form-control" name="ReRegisterPassword" id="pass2" onkeyup="checkPass()" type="password" required />
                        <span asp-validation-for="RegisterPassword" class="text-muted"></span>
                    </div>
    
                    <span id="confirmMessage" class="confirmMessage"></span>
                    <br>
    
                    <input type="checkbox" checked="checked"> Remember me<br><br>
                    <button type="submit" id="submitformregister"> Register</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>