<form #loginForm="ngForm" [formGroup]="form" name="logger">
    <div class="container" style="width: 50%">
        <label><b>First Name</b></label>
        <input type="text" [ngClass]="{'error': isValid('firstName') }" ng-required="true" placeholder="Enter First Name" formControlName="firstName" required>
        <label><b>Last Name</b></label>
        <input type="text" [ngClass]="{'error': isValid('lastName') }" ng-required="true" placeholder="Enter Last Name" formControlName="lastName" required>
        <label><b>E-Mail</b></label>
        <input type="text" [ngClass]="{'error': isValid('userName') }" ng-required="true" placeholder="Enter Username" formControlName="userName" required>
        <label><b>Password</b></label>
        <input type="password" [ngClass]="{'error': isValid('password') }" ng-required="true" placeholder="Enter Password" formControlName="password" required>
        <label><b>Confirm Password</b></label>
        <input type="password" [ngClass]="{'error': isValid('REpassword') }" ng-required="true" placeholder="Re-Enter Password" formControlName="REpassword" required>
        <span *ngIf="form.errors?.mismatchedFields">Passwords do not match</span>
        <span *ngIf="loginForm.form.valid">Form Completed</span>
        <br><br>
        <button type="submit" [disabled]="!loginForm.form.valid" (click)="onsubmit()">Register</button><br><br>
        <!-- <button (click)="auth.logout()">LogOut</button><br><br> -->
        <input type="checkbox" checked="checked"> Remember me
    </div>
    <div class="container" style="background-color:#f1f1f1; width: 50%">
        <button type="button" class="cancelbtn" onclick="this.form.reset()">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
</form>